# ========================
# BACKEND (Spring Boot)
# ========================
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# ========================
# FRONTEND (React)
# ========================
frontend/node_modules/
frontend/dist/
frontend/.vite/

# ========================
# IDEs
# ========================
.idea/
*.iws
*.iml
*.ipr
.vscode/

# ========================
# Logs & Env
# ========================
*.log
.env

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
